* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  overflow: none;
}

#shotclock {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 1em;
}

#buttons {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0;
  text-align: center;
  opacity: 0.4;
  width: 100%;
  transition: opacity 0.5s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#buttons:hover {
  opacity: 1;
}

.control {
  width: 35%;
  height: 40px;
  padding: 0;
  margin: 4px;
  border: 0;
}

.square {
  width: 10%;
}
